body {
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
.wsp{
  position: fixed;
  bottom: 30px;
  right: 20px;
  background-color: green;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
@media screen and (max-width: 580px) {
  body {
    background-attachment: initial;
  }

  .imgCrypto {
    width: 150px;
  }
}

.header {
  border-bottom: 2px solid white;
  margin: 30px;
  box-shadow: 10px 10px 20px rgb(174, 175, 176);
}

.header .imgLogo {
  width: 70px;
}

.header .imgLogo {
  width: 70px;
}

.header .hamburguesa {
  background-color: aliceblue;
}

.header .link {
  font-size: 20px;
  color: white;
  transition: all 0.7s;
  
}

.header .link:hover {
  font-size: 30px;
}

.targetCrypto {
  border-radius: 50px;
  border-bottom: 2px solid white;
}

.targetCrypto .botonCrypto {
  color: white;
  border: 2px solid white;
  transition: all 0.7s;
}

.targetCrypto .botonCrypto:hover {
  font-size: 30px;
  color: white;
  border: 2px solid white;
  box-shadow: 2px 20px 10px rgb(28, 28, 27);
}

.general {
  width: 100%;
}

.general .botonCrypto {
  color: white;
  border: 2px solid white;
  transition: all 0.7s;
}

.general .botonCrypto:hover {
  font-size: 30px;
  color: white;
  border: 2px solid white;
  box-shadow: 2px 20px 10px rgb(28, 28, 27);
}

.carrusel {
  margin: 90px;
}

.imgCrypto {
  width: 500px;
  height: 400px;
}

.carta {
  margin: 20px;
  background-color: black;
  color: white;
}

.imgCard {
  height: 200px;
}

.comentarios {
  margin: 50px;
  border-bottom: 2px solid red;
  border-radius: 20px;
  color: white;
  box-shadow: 10px 10px rgb(186, 186, 186);
}

.acordion {
  border-bottom: 2px solid red;
  margin-bottom: 100px;
}

.form-control {
  height: 50px;
  font-size: 20px;
  padding: 30px;
}

.textA {
  height: 100px;
}

.dejanos {
  border-bottom: 2px solid red;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px rgb(218, 84, 69);
}

.formulario {
  margin: 50px;
}

.op {
  font-size: 30px;
  padding: 20px;
}

.botonCrypto {
  margin-top: 50px;
  color: white;
  font-size: 20px;
  border:2px solid;
  transition: all 0.7s;
  border-bottom: 2px solid red;
  padding: 20px;
 
  box-shadow: 5px 5px rgb(218, 84, 69);
}
.botonCrypto:hover{
  font-size: 40px;
  color: white;
  border: 2px solid;
}

@media (min-width: 581px) and (max-width: 990px) {
  body {
    background-attachment: initial;
  }

  .seccionflip {
    border: none;
  }

  .titulo {
    color: white;
  }

  .zflip {
    width: 300px;
  }
}

@media screen and (max-width: 580px) {
  body {
    background-attachment: initial;
  }

  .zflip {
    width: 200px;
  }

  .titulo {
    color: white;
  }

  .carrusel {
    margin: 0;
  }

  .carta {
    display: flex;
  }

  .imgCrypto {
    width: 200px;
    height: 200px;
  }

  .pG {
    border-bottom: 2px solid;
  }
}

footer .imgLogo {
  width: 80px;
  border-radius: 50%;
}

footer .link {
  transition: all 0.7s;
  padding-right: 20px;
  display: inline-block;
}

footer .link:hover {
  font-size: 30px;
}

/*# sourceMappingURL=style.css.map */