.targetCrypto {
    border-radius: 50px;
    border-bottom: 2px solid white;

    .botonCrypto {
        color: white;
        border: 2px solid white;
        transition: all 0.7s;
    }

    .botonCrypto:hover {
        font-size: 30px;
        color: white;
        border: 2px solid white;
        box-shadow: 2px 20px 10px rgb(28, 28, 27);
    }
}

.general {
    width: 100%;

    .botonCrypto {
        color: white;
        border: 2px solid white;
        transition: all 0.7s;
    }

    .botonCrypto:hover {
        font-size: 30px;
        color: white;
        border: 2px solid white;
        box-shadow: 2px 20px 10px rgb(28, 28, 27);
    }


}

.carrusel {
    margin: 90px;
}

.imgCrypto {
    width: 500px;
    height: 400px;
}




.carta {

    margin: 20px;
    background-color: black;
    color: white;
}

.imgCard {
    height: 200px;
}

.comentarios {
    margin: 50px;
    border-bottom: 2px solid red;
    border-radius: 20px;
    color: white;
    box-shadow: 10px 10px rgb(186, 186, 186);
}
.acordion{
 
    border-bottom: 2px solid red;
    margin-bottom: 100px;
  
}


@media (min-width:581px) and (max-width:990px) {
    body {
        background-attachment: initial;
    }

    .seccionflip {
        border: none;

    }

    .titulo {
        color: white;
    }

    .zflip {
        width: 300px;
    }
}

@media screen and (max-width:580px) {
    body {
        background-attachment: initial
    }

    .zflip {
        width: 200px;
    }

    .titulo {
        color: white;
    }

    .carrusel {
        margin: 0;
    }

    .carta {
        display: flex;

    }
}