body {
  background-color: black;
  position: relative;
}
.wsp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: green;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  z-index: 100;
}

@media screen and (max-width: 580px) {
  body {
    background-attachment: initial;
  }
  .imgCrypto {
    width: 150px;
  }
}
@import "header";
@import "principalHomeCrypto";
@import "footer";
