body {
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media screen and (max-width:580px) {
  body{
    background-attachment: initial
  }
  .imgCrypto{
    width: 150px
  }
}
@import "header";
@import "principalHomeCrypto";
@import "footer"